<p>search works!</p>
<div>
    <h4>Food Masterlist</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of requiredfoodList">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button class=" btn btn-secondary">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>