<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a routerLink='food' class="nav-link px-2 text-white">Foods</a></li>
                <li *ngIf="isAdmin()"><a routerLink="admin" class="nav-link px-2 text-white">Admin Panel</a></li>
            </ul>

            <div class="text-end">

                <div *ngIf="checkLoginStatus()">
                    <button (click)="logout()" class="btn btn-danger">Logout</button>
                </div>
                <div *ngIf="!checkLoginStatus()">
                    <a routerLink='login' class="btn btn-outline-light me-2">Login</a>
                    <a routerLink='register' class="btn btn-warning me-2">Register</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>